@page "/About"
<h3>About</h3>

<div>
    <p>Uses the FSUIPC Client DLL for .NET by Paul Henty</p>
    <p>The software and documentation are provided ‘AS IS’ without warranty of any kind. </p>
</div>

@code {

}
